#calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    width:360px;
    background-color:  rgb(38, 36, 36);
    flex-direction: column;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
}
#display{
    width:360px;
    height:100px;
    text-align: center;
    background-color: rgb(26, 26, 26);
    font-size: 20px;
    color: white;
}
#results{
    width: 360px;
    text-align: center;
    height:100px;
    background-color: rgb(26, 26, 26);
    font-size: 20px;
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}
button{
    width:80px;
    height:50px;
    border-radius: 50%;
    font-size: 20px;

}
#op{
    background-color: rgb(244, 101, 49);
}
#equal{
    background-color: red;
}